.main-container
{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  color: #ffffff;
  background-color: #000f1c;
}

.title-container
{
  margin: 20px 0;
  text-align: center;
}

.game-container
{
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
}
.message-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 50px 0;
  text-align: center;
  border: 2px solid;
}
