<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%> 
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolore, animi ullam labore quos excepturi autem consectetur dicta maxime totam. Nesciunt optio quam quasi, nam quisquam culpa officiis est error?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum deserunt, nulla accusantium esse, obcaecati minima architecto veritatis rem corporis, culpa debitis. Eius culpa optio at itaque odio pariatur accusantium rerum.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis repellendus architecto culpa atque, iste eveniet libero magnam tempora quam error distinctio, veritatis corrupti. Quisquam quidem mollitia possimus doloribus fugiat architecto.</p>
    </div>

    <%- include('./partials/footer.ejs')%> 
</body>
</html>